{% extends '/layouts/default.njk' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/courses-overview.css') %}
{% endblock %}

{% block main %}
{% include 'views/partials/sidebar-toggle-observer.njk' %}
<main class="ap--main ap-t-courses-overview">
  <div class="ap--container">
    {% include 'views/partials/sidebar-toggle.njk' %}
    <span id="ap--sidebar-content" class="ap--sidebar"></span>
    {% include 'views/partials/content.njk' %}
  </div>
</main>
{% include 'views/partials/sidebar.njk' %}
{% endblock %}
