{% extends '/layouts/default.njk' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/events.css') %}
{% endblock %}

{% block main %}
<main class="ap--main ap-t-events">
  {{ content|safe }}
</main>
{% endblock %}
